/*generals root*/
:root {
    --color-blu: #3161e0;
    --color-black: #23272a;
    --color-grey: #f6f6f6;
    --color-white: #fff;
    --color-ligthblu: #8ea1e1;
    --color-blufooter: #7188d9;
}

/* #region Generals Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*.debug * {
    margin: 1px;
    border-style: dotted;
}*/

.container {
    max-width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.f-reverse {
    flex-direction: row-reverse;
}

button {
    border-radius: 40px;
    padding: 0.5rem 1rem;
    font-size: 1.2 rem;
}

a {
    color: var(--color-white);
    text-decoration: none;
}

h2 {
    font-size: 40px;
    padding-top: 2rem;
}

/*#endregion Generals Rules*/

/* #region header */
header {
    background-color: var(--color-blu);
    padding: 1rem;
    color: var(--color-text-header);
}

a {
    padding: 0.5rem;
}

header :first-child {
    justify-content: space-between;
}

.logo {
    text-align: center;
    /*height: 50px;
    width: 50px;
    background-color: grey;*/
}

.accedi {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*#endregion header*/

/* #region main-top*/
.container-small {
    margin: auto;
    width: 50%;
    text-align: center;
}

.top-main {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: var(--color-white);
    min-height: 500px;

}

.container-small p,
h1 {
    padding: 2rem;
}

.download-btn {
    margin: 0 1rem;
}

.open-btn {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* #endregion main-top*/

/* #region main*/
.main-content {
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: space-between;
}

.flex-img {
    width: 60%;
}

.main-para {
    max-width: 30%;
}

.color-back {
    background-color: var(--color-grey)
}

.wave {
    color: var(--color-grey);
}

.wave-top{
margin-bottom: -100px;
}

.wave-bottom{
    margin-top: -100px;
    rotate: 180deg;
}

.last-section {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}


.main-content p {
    margin-top: 2rem;
    font-size: larger;
}

.last-section p {
    margin top: 1.5rem;
}  


.last-section button {
    background-color: var(--color-ligthblu);
    color: var(--color-white);
}

/* #endregion main*/

/* #region footer*/

footer{
    color: var(--color-white);
}
.color-footer {
    padding: 3rem 0;
    background: var(--color-black)
}

/* #region top-footer*/
.f-top {
    /*height: 300px;*/
    gap: 5%;
}

.f-left {
    flex-basis: 35%;
}

.f-rigth {
    flex-basis: 100%
}

footer h3 {
    color: var(--color-blufooter);
    font-size: 2rem;
    padding-bottom: 1rem;
}

h4{
    color: var(--color-blufooter);
}

ul{
list-style-type: none;
}

li{
    padding-top: 0.8rem;
}
.f-left {
    & img {
        height: 30px;
    }
}
/* #endregion top-footer*/

/* #region bottom-footer*/
.f-bottom {
    margin-top: 2rem;
    justify-content: space-between;
}

.f-separetor {
    border: 1px solid var(--color-blufooter);
}

footer button {
    background-color: var(--color-ligthblu);
    color: var(--color-white);
}



/* #endregion bottom-footer*/

/* #endregion footer*/